.jumbotron {
  background-color: black;
  color: white;
  margin-top: -89px;
  margin-bottom: 350px;
  margin-left: -65px;
  margin-right: -72px; }

.navbar {
  background-color: #000000; }

.btn {
  background-color: #000000;
  color: white;
  width: 100%; }

.btn-default {
  background-color: gray;
  color: white;
  width: 100%;
  border-color: #000000;
  border: 2px solid #000000; }

.btn-c {
  background-color: transparent; }

footer {
  padding: 50px 10px 0 10px;
  background-color: #3F3F3F;
  color: white;
  margin-bottom: 0px;
  margin-top: 80px; }

.modo-tarjeta {
  flex: 1 150px;
  padding: 2px 5px 2px 5px; }

.jumbotron video {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: -433px;
  /*  Altura header*/
  margin-top: 10px;
  position: cover;
  z-index: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover; }

.tab-content {
  padding-top: 10px; }

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff; }

.my-float {
  margin-top: 16px; }

.carousel, .carousel-inner > .item > img {
  max-height: 90%;
  max-width: 100%; }
